<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/niuni/Documents/BillionThingJ15">
        <classes>
            <class name="TestCases.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="TestCases.RegisterTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="TestCases.LanguageTest">
                <methods>
                    <include name="languageTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>